<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="../css/style.css">

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: rgb(253, 144, 117);
        }

        .title {
            font-size: 30px;
            font-weight: 800;
        }

        .table-container {
            padding: 15px 20px;
        }
    </style>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
        <!-- <a href="#contact">Contact</a>
        <a href="#about">About</a> -->
    </div>
    <div class="table-container">
        <!-- <%= JSON.stringify(listusers) %>      Get value from database                                    -->
        <div class="title">list user</div>
        <table>
            <tr>
                <th>ID</th>
                <th>EMAIL</th>
                <th>NAME</th>
                <th>CITY</th>
                <th>ACTION</th>
            </tr>
            <!-- <% for (let i=0; i < listusers.length; i++) { %>    old loop
                <tr>
                    <td>
                        <%= listusers[i].id %>
                    </td>
                    <td>
                        <%= listusers[i].email %>
                    </td>
                    <td>
                        <%= listusers[i].name %>
                    </td>
                    <td>
                        <%= listusers[i].city %>
                    </td>
                    <td>
                        <button class="poiter">EDIT</button>
                        <button class="poiter">DELETE</button>
                    </td>
                </tr>
                <% } %> -->
            <% listusers.forEach(function(user){ %> <!--   forEach     -->
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <a href="/update/<%= user.id %>">EDIT</a>
                        <button class="poiter">DELETE</button>
                    </td>
                </tr>
                <% }); %>
        </table>
    </div>
</body>

</html>